.App {
  /* text-align: center; */
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  text-align: center;
  background-color: #222;
  height: 70px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.up {
  margin-top: 50px
}

.up-component{
  margin-top: 10px
}

.btn {
  margin-left: 10px;
}

.table td, .table th {
  padding: .75rem;
  vertical-align: top;
  border-top: 0px solid #dee2e6 !important;
  border-bottom: 1px solid #dee2e6 !important;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
